body {
    background-image: url(../assets/forrestbg.png);
}
main {
    display: grid; 
    grid-template-rows: max-content max-content max-content; 
    gap: 0px 0px;
    justify-content: space-between; 
}

.stats{
    background-color: rgb(233, 159, 48);
    grid-row-start: 1;
}
.form {
    background-color: rgb(81, 194, 96);
    grid-row-start: 2;
}
.monsters-list {
    background-color: rgb(168, 77, 138);
    grid-row-start: 3;
}